<ion-content>
  <ion-item lines="none" class="page-title"> Discovery </ion-item>

  <ion-item lines="none" class="page-header">
    <ion-label> Suggested for you </ion-label>
    <ion-button fill="clear"> Check filters </ion-button>
  </ion-item>

  <ion-label class="page-header-subtitle">
    Join a match, meet new players and have fun
  </ion-label>

  <ion-card>
    <ion-card-content>
      <ion-icon name="bulb-outline"></ion-icon>

      <ion-card-title>
        We weren't able to find Open Matches for you, why don't you create one?
      </ion-card-title>
      <ion-card-subtitle>
        Start a match and find new players
      </ion-card-subtitle>

      <ion-button color="">Start a match</ion-button>
    </ion-card-content>
  </ion-card>

  <app-news-list>
    <ion-item title lines="none">
      <ion-label>
        <h1 class="title">Learn more about Open Matches</h1>
        <p class="subtitle">Master the game, improve your skills</p>
      </ion-label>
    </ion-item>
  </app-news-list>
</ion-content>
