<ion-tabs>
  <ion-tab-bar fill="transparrent" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="tennisball-outline"></ion-icon>
      Play
    </ion-tab-button>
    <ion-tab-button tab="discovery">
      <ion-icon name="compass-outline"></ion-icon>
      Discovery
    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-icon name="home-outline"></ion-icon>
      Community
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
