<ion-content [fullscreen]="true" class="ion-paddings">
  <ion-list>
    <ion-list-header>Remember...</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="remember-card">
            <ion-card-content>
              <ion-icon name="bulb-outline"></ion-icon>
              <div class="remember-card-info">
                <ion-card-title> Edit your player preferences </ion-card-title>
                <ion-card-subtitle>
                  Best hand, court side, match type, p...
                </ion-card-subtitle>
              </div>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-list-header>Find your perfect match</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="/assets/card-icons/card-1.jpg"
            />

            <ion-card-header>
              <ion-icon name="search-outline"></ion-icon>

              <ion-card-title>Book a court</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you already know who you are playing with
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="/assets/card-icons/card-2.jpg"
            />

            <ion-card-header>
              <ion-icon name="tennisball-outline"></ion-icon>
              <ion-card-title>Play an open match</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you are looking for players at your level
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="title-card">
            <ion-card-header>
              <ion-icon name="school-outline"></ion-icon>
              <ion-card-title> Classes </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="title-card">
            <ion-card-header>
              <ion-icon name="shield-outline"></ion-icon>
              <ion-card-title>Competitions</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-list-header>Your clubs</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="navigate-card">
            <ion-card-content>
              <ion-icon name="location-outline"></ion-icon>
            </ion-card-content>

            <ion-card-header>
              <ion-card-title>Find clubs around you</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you already know who you are playing with
            </ion-card-content>

            <ion-card-content>
              <ion-button>Enable</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <app-news-list>
    <ion-list-header title>Get the most out of Playtomic</ion-list-header>
  </app-news-list>

  <!-- <ion-list class="tutorial-list" >
    <ion-list-header>Get the most out of Playtomic</ion-list-header>

    <ion-grid>
      <ion-row class="tutorial-row">
        <ion-col>
          <ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-7.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> How to create your own match </ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="tutorial-double-col">
          <ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-2.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> Join a match with others </ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon> </ion-card
          ><ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-4.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> Add my partner to an Open Match </ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-3.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> Make a court reservation </ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="tutorial-double-col">
          <ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-5.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> Split payment</ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon> </ion-card
          ><ion-card class="tutorial-card">
            <img src="/assets/card-icons/card-6.jpg" alt="Tutorial image" />
            <ion-card-header>
              <ion-card-title> Experience Premium </ion-card-title>
            </ion-card-header>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list> -->
</ion-content>
