<ion-content [fullscreen]="true" class="ion-paddings">
  <ion-list>
    <ion-list-header>Find your perfect match</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="/assets/card-icons/card-1.jpg"
            />

            <ion-card-header>
              <ion-icon name="search-outline"></ion-icon>

              <ion-card-title>Book a court</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you already know who you are playing with
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="/assets/card-icons/card-2.jpg"
            />

            <ion-card-header>
              <ion-icon name="tennisball-outline"></ion-icon>
              <ion-card-title>Play an open match</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you are looking for players at your level
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="title-card">
            <ion-card-header>
              <ion-icon name="school-outline"></ion-icon>
              <ion-card-title> Classes </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="title-card">
            <ion-card-header>
              <ion-icon name="shield-outline"></ion-icon>
              <ion-card-title>Competitions</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-list-header>Your clubs</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="navigate-card">
            <ion-card-content>
              <ion-icon name="location-outline"></ion-icon>
            </ion-card-content>

            <ion-card-header>
              <ion-card-title>Find clubs around you</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              If you already know who you are playing with
            </ion-card-content>

            <ion-card-content>
              <ion-button>Enable</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-list-header>Get the most out of Playtomic</ion-list-header>
  </ion-list>
</ion-content>
