<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title> Registration </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Playtomic</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            label="Email"
            labelPlacement="floating"
            placeholder="Enter your email"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            placeholder="Enter your password"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Confirm password"
            labelPlacement="floating"
            placeholder="Confirm your password"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button color="dark" size="full" (click)="register()">
          Register
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
