<ion-list>
  <ion-card lines="none" class="post-item" *ngFor="let item of [1, 2, 3]">
    <ion-item lines="none" class="post-user">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>
        <span class="profile-name"> Caroline User </span>
        <div class="post-meta">
          <span class="meta-date">1 hour ago</span>
          <span class="meta-type">Everybody</span>
        </div>
      </ion-label>

      <div class="controls">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
    </ion-item>

    <ion-item lines="none">
      <div class="post-text">
        Hello world! Playtomic great app! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Assumenda, in.
      </div>
    </ion-item>

    <img class="post-img" src="/assets/card-icons/card-1.jpg" alt="" />

    <ion-item lines="none">
      <div class="post-controls">
        <div class="control-item">
          <ion-icon name="heart-outline"></ion-icon>
          <span>19</span>
        </div>

        <div class="control-item">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <span>0</span>
        </div>
      </div>
    </ion-item>
  </ion-card>

  <ion-card lines="none" class="post-item">
    <ion-item lines="none" class="post-user">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>
        <span class="profile-name"> Caroline User </span>
        <div class="post-meta">
          <span class="meta-date">1 hour ago</span>
          <span class="meta-type">Everybody</span>
        </div>
      </ion-label>

      <div class="controls">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
    </ion-item>

    <ion-item lines="none">
      <div class="post-text">
        Hello world! Playtomic great app! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Assumenda, in.
      </div>
    </ion-item>

    <ion-item lines="none">
      <div class="post-controls">
        <div class="control-item">
          <ion-icon name="heart-outline"></ion-icon>
          <span>19</span>
        </div>

        <div class="control-item">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <span>0</span>
        </div>
      </div>
    </ion-item>
  </ion-card>
</ion-list>
