ion-content {
  --background: #f7f7f7;
}

ion-item {
  --background: transparent;
}

ion-list {
  background: transparent;
}

.page-header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  ion-label {
    margin: 0;
    font-weight: 500;
  }
  ion-button {
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
  }
}
