ion-fab {
  bottom: 100px;
  ion-fab-button {
    --box-shadow: none;
    --background: var(--primary-color);
    --background-activated: var(--primary-color);

    position: relative;
    overflow: visible;
    contain: layout;
    &[data-desc]::after {
      position: absolute;
      content: attr(data-desc);
      z-index: 1;
      right: 50px;
      bottom: 15px;
      color: var(--primary-color);
    }

    ion-icon {
      color: #fff;
    }
  }
}
