<ion-list class="tutorial-list">
  <ng-content select="[title]"></ng-content>
  <ng-content select="[subtitle]"></ng-content>

  <ion-grid>
    <ion-row class="tutorial-row">
      <ion-col>
        <ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-7.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> How to create your own match </ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col class="tutorial-double-col">
        <ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-2.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> Join a match with others </ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon> </ion-card
        ><ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-4.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> Add my partner to an Open Match </ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-3.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> Make a court reservation </ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col class="tutorial-double-col">
        <ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-5.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> Split payment</ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon> </ion-card
        ><ion-card class="tutorial-card">
          <img src="/assets/card-icons/card-6.jpg" alt="Tutorial image" />
          <ion-card-header>
            <ion-card-title> Experience Premium </ion-card-title>
          </ion-card-header>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
