.tutorial-row {
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  ion-card {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }

    ion-card-header,
    ion-icon {
      z-index: 1;
    }
  }

  ion-col {
    flex: 0 0 auto;
    width: 180px;

    &.tutorial-double-col {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      ion-card {
        height: 48%;
      }
    }
  }
}

.tutorial-list {
  padding-bottom: 30px;
}

.tutorial-card {
  position: relative;
  height: 100%;

  ion-icon {
    width: 20px;
    height: 20px;

    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  ion-card-title {
    color: #fff;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

ion-card {
  width: 100%;
  margin: 0;
  box-shadow: none;
  border: 0.7px solid #cecece;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }

  ion-card-header {
    padding-bottom: 5px;
    position: relative;

    ion-icon {
      position: absolute;
      z-index: 1000;
      width: 24px;
      height: 24px;
      background-color: var(--primary-color);
      border-radius: 6px;
      color: #fff;
      padding: 4px;
      left: 10%;
      top: -20px;
    }
  }

  ion-card-title {
    font-size: 14px;
  }

  ion-card-content {
    font-size: 12px;
  }
}
